p {
    margin: 0;
    font-family: "Calibri";
}

.styles-btn {
    display: flex;
    width: clamp(68.8px, 8.96vw, 172px);
    height: clamp(22.4px, 2.92vw, 56px);
    border: 3px solid #37AB43;
    border-radius: clamp(8px, 1.04vw, 20px);
    align-items: center;
    justify-content: center;
    font-size: clamp(8.53px, 1.11vw, 21.33px);
    font-weight: 500;
    cursor: pointer;
    user-select: none;
}

.styles-btn:hover {
    border-color: #EC671E;
}