.header {
    display: flex;
    padding: 10px clamp(68.8px, 8.96vw, 172px);
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 5px black;
}

.header-logo {
    width: clamp(66.67px, 8.68vw, 166.67px);
    height: clamp(51.73px, 6.74vw, 129.33px);
    cursor: pointer;
}

.header-btns-panel {
    display: flex;
}

.header-btn {
    display: flex;
    width: clamp(27.73px, 3.61vw, 69.33px);
    height: clamp(22.4px, 2.92vw, 56px);
    padding: 0px clamp(5.87px, 0.76vw, 14.67px);
    margin-left: clamp(6.4px, 0.83vw, 16px);
    border: 3px solid #EC671E;
    border-radius: clamp(8px, 1.04vw, 20px);
    align-items: center;
    justify-content: center;
    font-size: clamp(8.53px, 1.11vw, 21.33px);
    font-weight: 500;
    cursor: pointer;
    color: white;
    background-color: #EC671E;
}

